
.home-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  background-color: #fff; 
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}

#image {
  text-align: center;
  padding-top: 20px; 
}

h2 {
  color: #fff;
}
