/* Home.css */

/* Home.css */
.home-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  background-color: #fff; /* Fallback color */
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make sure the image covers the entire container */
  z-index: -1; /* Send the image to the background */
}

#image {
  text-align: center;
  padding-top: 20px; /* Adjust as needed */
}

h2 {
  color: #fff; /* Example style for the text */
}
