.product-list {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
  padding: 10px;
}

.gallery {
  /* flex: 0 0 auto; /* Let each item take its natural width */
  /* margin-right: 20px; /* Spacing between products */
  /* width: 300px; /* Set a fixed width for each image container */
  /* margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;  */
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  background-color: antiquewhite;
}

.gallery img {
  width: 100%; /* Ensure the image fills its container */
  height: auto;
  
}

.desc {
 
  padding: 15px;
  text-align: center;

}
